#title{
	display: grid;
    gap: 0.65em;
    padding: 0.625em;
    font-size: 1.625em;
	font-size: 2em;
    justify-content: center;
    align-items: center;
}

.menu-object{
	display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    height: 4em;
    font-size: 1em;
    margin-top: 1em;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 1em;
	width: 15em;
	height: 4em;
}

button.menu-object:hover:not(:active){
	font-size: 1em;
	width: 20em;
	height: 5em;
}


.cartes{
	display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: minmax(200px, auto);
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-row: 1;
}